body {
    main {
        .contacto {
            padding-bottom: 5%;
            color: #fff;
            background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
            background-size: 400% 400%;
            -webkit-animation: Gradient 5s ease infinite;
            -moz-animation: Gradient 5s ease infinite;
            animation: Gradient 5s ease infinite;
            @include breakpoint(phone) {
                padding-bottom: 13%;
            }
            @-webkit-keyframes Gradient {
                0% {
                    background-position: 0% 50%
                }
                50% {
                    background-position: 100% 50%
                }
                100% {
                    background-position: 0% 50%
                }
            }
            @-moz-keyframes Gradient {
                0% {
                    background-position: 0% 50%
                }
                50% {
                    background-position: 100% 50%
                }
                100% {
                    background-position: 0% 50%
                }
            }
            @keyframes Gradient {
                0% {
                    background-position: 0% 50%
                }
                50% {
                    background-position: 100% 50%
                }
                100% {
                    background-position: 0% 50%
                }
            }
            .image-description {
                margin-right: 0;
                margin-left: 0;
                margin-top: 50px;
                .img {
                    text-align: center;
                    img {
                        @include breakpoint(phone) {
                            width: 100%;
                        }
                    }
                }
                .description {
                    @include breakpoint(phone) {
                        margin-top: 62px;
                    }
                    p {
                        margin: 0;
                        @include breakpoint(phone) {
                            font-size: 21px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 21px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 26px;
                        }
                    }
                    .text {
                        @include breakpoint(phone) {
                            font-size: 32px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 31px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 40px;
                        }
                    }
                    .ciudad {
                        position: absolute;
                        font-size: 19px;
                        @include breakpoint(phone) {
                            top: 90%;
                            left: 58%;
                        }
                        @include breakpoint(tablet) {
                            left: 50%;
                            top: 83%;
                        }
                        @include breakpoint(desktop) {
                            top: 75%;
                            left: 68%;
                        }
                        @media screen and (min-width: 1900px) {
                            left: 46%;
                        }
                    }
                    h4 {
                        font-weight: 900;
                        @include breakpoint(phone) {
                            font-size: 52px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 49px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 63px;
                        }
                    }
                }
            }
        }
    }
}