body {
    main {
        .contacto {
            animation: back_animate 25s infinite linear;
            padding-bottom: 5%;
            @include breakpoint(phone) {
                padding-bottom: 13%;
            }
            @keyframes back_animate {
                0% {
                    background: linear-gradient(-10deg, #23A6D5, #23D5AB);
                }
                10% {
                    background: linear-gradient(-10deg, #23A6D5, #EE7752);
                }
                20% {
                    background: linear-gradient(-10deg, #23A6D5, #E73C7E);
                }
                30% {
                    background: linear-gradient(-10deg, #EE7752, #E73C7E);
                }
                40% {
                    background: linear-gradient(-10deg, #EE7752, #23D5AB);
                }
                50% {
                    background: linear-gradient(-10deg, #EE7752, #23A6D5);
                }
                60% {
                    background: linear-gradient(-10deg, #23D5AB, #23A6D5);
                }
                70% {
                    background: linear-gradient(-10deg, #23D5AB, #EE7752);
                }
                80% {
                    background: linear-gradient(-10deg, #23D5AB, #E73C7E);
                }
                90% {
                    background: linear-gradient(-10deg, #E73C7E, #23A6D5);
                }
                100% {
                    background: linear-gradient(-10deg, #E73C7E, #23D5AB);
                }
            }
            .image-description {
                margin-right: 0;
                margin-left: 0;
                margin-top: 50px;
                .img {
                    text-align: center;
                }
                .description {
                    @include breakpoint(phone) {
                        margin-top: 62px;
                    }
                    p {
                        margin: 0;
                        @include breakpoint(phone) {
                            font-size: 22px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 21px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 26px;
                        }
                    }
                    .text {
                        @include breakpoint(phone) {
                            font-size: 33px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 31px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 40px;
                        }
                    }
                    .ciudad {
                        position: absolute;
                        left: 64%;
                        font-size: 19px;
                        @include breakpoint(phone) {
                            top: 90%;
                        }
                        @include breakpoint(tablet) {
                            left: 50%;
                            top: 83%;
                        }
                        @include breakpoint(desktop) {
                            top: 75%;
                        }
                        @media screen and (min-width: 1900px) {
                            left: 46%;
                        }
                    }
                    h4 {
                        font-weight: 900;
                        @include breakpoint(phone) {
                            font-size: 52px;
                        }
                        @include breakpoint(tablet) {
                            font-size: 49px;
                        }
                        @include breakpoint(desktop) {
                            font-size: 63px;
                        }
                    }
                }
            }
        }
    }
}