body {
    header {
        .logo-contact {
            background: linear-gradient(to right, #1D62F0 0%, #1BA2E5 100%);
            text-align: center;
            padding-top: 1%;
            padding-bottom: 1%;
            @include breakpoint(phone) {
                padding-top: 5%;
            }
            .row {
                margin-left: 0;
                margin-right: 0;
                .contact {
                    text-align: left;
                    margin-top: 16px;
                    a {
                        color: #FFFFFF;
                    }
                    a:hover {
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                    @include breakpoint(phone) {
                        text-align: center;
                    }
                }
            }
        }
    }
}