body {
    main {
        .whatsapp-ya {
            position: fixed;
            bottom: 10px;
            left: 15px;
            text-align: center;
            z-index: 10000000000;
        }
    }
}